<% content_for(:head_title) { "Liste des communes" } %>

<main class="fr-container fr-pt-2w fr-pb-4w">
  <%= render(
    "shared/breadcrumbs",
    links: [
      ["Accueil", root_path],
      ["Tous les objets", objets_path]
    ],
    current_page_label: "Liste des communes")
  %>

  <h2>Liste des communes</h2>
  <% @communes_by_dpt.each do |departement, communes| %>
    <h2><%= departement %></h2>
    <ul class="co-columns--3">
      <% communes.each do |commune| %>
        <li>
          <%= commune.nom %> -
          <%= link_to "#{commune.objets_count} objets", objets_path(commune_code_insee: commune.code_insee) %>
        </li>
      <% end %>
    </ul>
    <hr class="fr-pb-10w" />
  <% end %>
</div>
</main>
