<div class="fr-header__tools-links">
  <ul class="fr-links-group">
    <li>
      <%= link_to "Comment ça marche ?", aide_path, class: "fr-link fr-fi-question-line" %>
    </li>
    <li>
      <%= link_to "Connexion", new_user_session_path, class: "fr-link fr-fi-lock-line" %>
    </li>
    <li>
      <%= link_to "Voir les objets dans ma commune" , objets_path, class: "fr-link fr-fi-image-line" %>
    </li>
  </ul>
</div>
