<div class="fr-header__tools-links">
  <ul class="fr-links-group">
    <li>
      <%= link_to "Comment ça marche ?", aide_path, class: "fr-link fr-icon-question-line" %>
    </li>
    <li>
      <%= link_to "Connexion", connexion_path, class: "fr-link fr-icon-lock-line" %>
    </li>
    <li>
      <%= link_to "Voir les objets dans ma commune" , objets_path, class: "fr-link fr-icon-image-line" %>
    </li>
  </ul>
</div>
