<ul class="fr-links-group">
  <li>
    <%= link_to "Comment ça marche ?", aide_path, class: "fr-link fr-icon-question-line" %>
  </li>
  <li>
    <%= link_to "Mon compte", edit_user_registration_path, class: "fr-link fr-icon-user-line" %>
  </li>
  <li>
    <%= link_to "Voir les objets de #{current_user.commune.nom}" , commune_objets_path(current_user.commune), class: "fr-link fr-icon-image-line" %>
  </li>
</ul>
