.fr-header__tools
  .fr-header__tools-links
    %ul.fr-links-group
      %li
        = link_to "Admin", admin_path, class:"fr-link fr-icon-lock-line"
      %li
        %div(style="position: relative; min-width: 250px;")
          %span.fr-mx-4w.fr-my-2w(style="color:transparent;") #{current_admin_user}
          %div(style="position: absolute; top: -10px; z-index: 10;")
            = render AdminIdentityComponent.new(admin_user: current_admin_user, user: current_user, impersonating_user: current_user != true_user, conservateur: current_conservateur, impersonating_conservateur: current_conservateur != true_conservateur, current_layout: content_for(:current_layout))
