= form_with url: autocomplete_conservateurs_communes_path, id: "header-search-form",
  data: { controller: :search, action: "turbo:submit-end->search#hideSpinner" } do |f|
  .fr-search-bar
    = f.label :nom, "Rechercher une commune", class: "fr-label"
    .fr-input-wrap.co-header-search-input-wrap(data-search-target="inputWrap")
      = f.text_field :nom, placeholder: "Rechercher une commune", autocomplete: :off, class: "fr-input",
        data: { "search-target" => :input, action: "input->search#submit" }
    = f.button value: "Rechercher", class: "fr-btn"
#js-header-search-results(data-header-search-target="results")
