ul
  li 🔓 Admin connecté #{current_admin_user}
  li = link_to "Liste des communes", admin_communes_path
  li
    = form_tag destroy_admin_user_session_path, method: :delete, data: { turbo: false } do
      button.fr-btn.fr-btn--secondary.fr-btn--sm.fr-icon-logout-box-r-line.fr-btn--icon-left type="submit"
        | Déconnexion
  - if current_user.present? && current_user != true_user
    li
      = link_to commune_objets_path(current_user.commune)
        | 👤 Usager incarné #{current_user}
