@import url(../stylesheets/layout.css);
@import url(../stylesheets/utilities.css);

/* PAGES */

@import url(../stylesheets/views/conservateurs.css);
@import url(../stylesheets/views/conservateurs-map.css);
@import url(../stylesheets/views/home.css);
@import url(../stylesheets/views/objets-show.css);
@import url(../stylesheets/views/recensements.css);

/* COMPONENTS */

@import url(../stylesheets/components/gallery_component.css);
@import url(../stylesheets/components/photo_upload_component.css);
