@import url(../stylesheets/layout.css);
@import url(../stylesheets/utilities.css);

/* PAGES */

@import url(../stylesheets/views/conservateurs.css);
@import url(../stylesheets/views/maps.css);
@import url(../stylesheets/views/pages.css);
@import url(../stylesheets/views/objets-show.css);
@import url(../stylesheets/views/recensements.css);

/* COMPONENTS */

@import url(../stylesheets/components/admin_identity_component.css);
@import url(../stylesheets/components/gallery_component.css);
@import url(../stylesheets/components/photo_upload_component.css);
