.co-galerie {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  z-index: 600;
}

.co-galerie > .header,
.co-galerie > .footer {
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.co-galerie > .header .left {
  color: var(--text-action-high-blue-france);
}

.co-galerie > .header > .right {
  display: flex;
  gap: 1rem;
}

.co-galerie > .content {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  position: relative;
}

.co-galerie > .content > .photo {
  flex-grow: 1;
  text-align: center;
  height: 100%;
}

.co-galerie > .content > .photo img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.co-galerie > .content > .arrow-link {
  flex-grow: 0;
  padding: 1em;
}

.co-galerie > .content > .arrow-link a,
.co-galerie > .content > .arrow-link button {
  background: white;
}

.co-galerie > .content .credits {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #ccc;
  padding: 1rem .5rem;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .co-galerie .footer {
    display: none;
  }
  .co-galerie .close-button {
    /* copied from .fr-btn--sm because there are no responsive classes like .fr-btn--sm@md */
    font-size: .875rem;
    line-height: 1.5rem;
    min-height: 2rem;
    padding: .25rem .75rem;
  }
}

@media only screen and (max-width: 767px) {
  .co-galerie .header .action {
    display: none;
  }
}
