= turbo_stream.replace "new-message-form", partial: "shared/new_message_form", locals: { message: Message.new(commune: @commune), url: commune_messages_path(@commune) }

= turbo_stream.remove "empty-message"

= turbo_stream.append "messages-list" do
  = render MessageComponent.new(message: @message, viewed_by: current_user)
