- content_for(:head_title) { "Messagerie" }

%main.fr-mb-8w.fr-container
  .fr-grid-row
    .fr-col-md-10
      = render "shared/breadcrumbs",
        links: [["Accueil", root_path]], current_page_label: "Messagerie"

      %h1 Messagerie

      = render "shared/messages/list", messages: @messages, viewed_by: current_user

      = render "shared/messages/form", message: @new_message, url: commune_messages_path(@commune)

      = render "shared/messages/email_address_hint", email_address: @commune.support_email(role: :user)
