<main class="fr-container fr-py-8w">
  <%= render "recensements/form", recensement: @recensement %>
</main>

<script type="module">
  import * as ActiveStorage from "@rails/activestorage"
  ActiveStorage.start()
</script>
