.fr-table
  %table.co-header-title-vertical-align
    %thead
      %tr
        - headers.each do |header|
          %th= header
    %tbody
      - objets.each do |objet_values|
        %tr.co-vertical-align-top
          - objet_values.each do |value|
            %td= value

- if @pagy.pages > 1
  = render partial: "shared/pagy_nav", locals: { pagy: }
