= render layout: "conservateurs/communes/tabs",
  locals: { dossier: @dossier, current_tab_title: "Rapport" } do

  %h2 Rapport de recensement pour #{@commune.nom}

  = render "summary", recensements: @dossier.recensements

  .fr-mb-4w
    = render "form", dossier: @dossier
