= render layout: "conservateurs/communes/tabs",
  locals: { commune: @commune, dossier: @dossier, current_tab: :rapport } do

  %h2 Rapport de recensement pour #{@commune.nom}

  = render "summary", recensements: @dossier.recensements

  .fr-mb-4w
    = render "form", dossier: @dossier
