.fr-mb-4w
  %h2 Statistiques
  .fr-grid-row.fr-grid-row--gutters
    - if stats[:statuses].present? || stats[:objets].present?
      .fr-col-md-6
        - if stats[:statuses].present?
          %p
            Statut des #{@campaign.recipients_count} communes
          %canvas{data: { controller: "stacked-line-chart",
            datasets: campaign_communes_statuses_line_chart_datasets(stats[:statuses]).to_json,
            "unit-suffix": "commune(s)",
            "x-title": "nombre de communes"} }

      - if stats[:objets].present?
        .fr-col-md-6
          %p
            = stats[:objets][:total]
            objets à recenser

          %canvas{data: { controller: "stacked-line-chart",
            datasets: campaign_objets_statuses_line_chart_datasets(stats[:objets]).to_json,
            "unit-suffix": "objet(s)",
            "x-title": "nombre d’objets"} }

          - if stats[:objets][:recensements_with_photos_ratio].present?
            %p.fr-mt-2w
              = (stats[:objets][:recensements_with_photos_ratio] * 100).round
              \% des recensements ont des photos
