.co-home-section-steps a.fr-link {
  margin-left: -12px;
}

.co-testimonial-wrapper {
  position: relative;
  background-color: rgb(248, 247, 251);
  border-radius: 12px;
  padding: 2rem 2rem 1rem 2rem;
  margin-bottom: 1rem;
}

.co-testimonial-wrapper img.co-testimonial-avatar {
  position: absolute;
  top: -19px;
  left: 30px;
  width: 40px;
}

.co-home-help-avatar {
  width: 160px;
  border-radius: 80px;
}
