<div class="fr-callout <%= callout_color_class %>">
  <div class="fr-grid-row co-flex--align-items-center">
    <div class="fr-col-md-8">
      <%= text %>
    </div>
    <div class="fr-col-md-4 co-text--center">
      <p class="fr-callout__text co-callout-cta">
        <%= cta %>
      </p>
    </div>
  </div>
</div>
