.fr-mb-4w{"data-controller" => "unfold"}
  .co-overflow--hidden.co-position-relative{"data-max-height": max_height_px, "data-unfold-target": "content"}
    = content
  .co-text--center
    %button.fr-link.hide.fr-mt-1w{"data-action": "unfold#displayAll", "data-unfold-target": "button"}
      = button_text
