%ul.fr-accordions-group
  %li
    %section.fr-accordion
      %h2.fr-accordion__title
        %button.fr-accordion__btn{"aria-controls": "faq-pas-recu", "aria-expanded": "false"}
          Je n'ai pas reçu de code de connexion, pourquoi ?
      #faq-pas-recu.fr-collapse
        Le code de connexion a été envoyé à l’email de votre commune indiqué sur
        = "#{link_to "l’annuaire du service public", annuaire_service_public_url, target: :_blank, rel: :noopener}."
        %br
        Le code d’activation peut se trouver dans vos “Spams” / “Courrier indésirable”.
  %li
    %section.fr-accordion
      %h2.fr-accordion__title
        %button.fr-accordion__btn{"aria-controls": "faq-commune-introuvable", "aria-expanded": "false"}
          Je ne trouve pas ma commune
      #faq-commune-introuvable.fr-collapse
        Seules les communes ayant au moins un objet protégé et propriété de la commune sont accessibles dans Collectif Objets.
        %br
        Il faut aussi que la commune ait un email correctement déclaré sur
        = link_to "l’annuaire du service public", annuaire_service_public_url, target: :_blank, rel: :noopener
  %li
    %section.fr-accordion
      %h2.fr-accordion__title
        %button.fr-accordion__btn{"aria-controls": "faq-mots-de-passe", "aria-expanded": "false"}
          Où sont les mots de passe ?
      #faq-mots-de-passe.fr-collapse
        Pour plus de sécurité et de simplicité, Collectif Objets ne vous demande pas de mot de passe. Pour vous identifier, vous devez demander un code de connexion envoyé par email à l’adresse mail de votre commune.
  %li
    %section.fr-accordion
      %h2.fr-accordion__title
        %button.fr-accordion__btn{"aria-controls": "faq-mauvais-email", "aria-expanded": "false"}
          Mauvais email / Je n'y ai pas accès
      #faq-mauvais-email.fr-collapse
        Les comptes des mairies ont été créés en utilisant les données publiées sur l'annuaire du service public.
        %br
        Si cet email est erroné ou que vous n'y avez pas accès, retrouvez la mairie de votre commune sur
        = link_to "l’annuaire du service public", annuaire_service_public_url(@commune), target: :_blank, rel: :noopener
        puis cliquez sur "Mettre cette page à jour".
  %li
    %section.fr-accordion
      %h2.fr-accordion__title
        %button.fr-accordion__btn{"aria-controls": "faq-recenseur", "aria-expanded": "false"}
          Qu'est-ce qu'un accès recenseur ?
      #faq-recenseur.fr-collapse
        Les recenseurs ont accès à un ou plusieurs édifices, ou à des communes entières.
        %br
        En tant que commune, vous pouvez demander à créer un ou plusieurs accès recenseurs pour vous aider dans le recensement.
