.conservateur-map {
  position: relative;
}

.conservateur-map-container {
  height: 600px;
  max-height: 80vh;
  width: 100%;
}

.conservateur-map-legend-icon {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  display: inline-block;
  top: 5px;
  margin-right: .5rem;
}

.conservateur-map-legend-icon.commune-completed {
  background-color: #6b6af4;
}

.conservateur-map-legend-icon.commune-prioritaire {
  background-color: #b34001;
}

.conservateur-map-sidebar {
  position: absolute;
  left: 0;
  background-color: #f6f6f6;
  width: 30%;
  height: 100%;
  z-index: 10;
}

.conservateur-map-sidebar[data-collapsed="true"] {
  display: none;
}

.conservateur-map-sidebar .sidebar-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
}
