- content_for(:head_title) { "Recensez vos objets en 3 étapes" }

%main
  .fr-container.fr-pt-2w.fr-pb-8w
    %h1 Recensez vos objets en 3 étapes
    .fr-mt-8w= render "recensements/etapes_contenu"
  .co-position-sticky.co-bottom-0.co-box-shadow-top.co-background--white
    .fr-container.fr-py-4w.co-flex.co-flex--justify-content-end
      %div
        = link_to commune_recenser_objets_text(current_user.commune),
          commune_objets_path(current_user.commune),
          class: "fr-btn fr-btn--icon-right fr-icon-arrow-right-line"
