= render layout: "conservateurs/communes/tabs",
  locals: { commune: @commune, dossier: @dossier, current_tab: :rapport, hide_for_print: true } do

  - if @dossier&.accepted?
    = render "shared/dossier_rapport", rapport: RapportPresenter.new(@dossier)
  - else
    .co-readable
      %p
        L'examen est généré lors de l’acceptation du dossier.
        C’est une vue arrêtée du dossier à ce moment-là, qui ne sera normalement plus modifiée par la suite.

    = render "conservateurs/dossiers/accept_cta", dossier: @dossier
