= render layout: "conservateurs/communes/tabs",
  locals: { commune: @commune, dossier: @dossier, current_tab_title: "Rapport" } do

  - if @dossier&.accepted?
    .co-flex.co-flex--space-between
      %div
        %h1 Rapport de recensement
      %div.co-print-hide
        = link_to "Version imprimable",
          conservateurs_commune_dossier_path(@commune, @dossier, view: :print),
          class: "fr-btn fr-btn--secondary fr-btn--icon-right fr-icon-printer-line"
    = render "shared/dossier_rapport", rapport: RapportPresenter.new(@dossier)
  - else
    .co-readable
      %p
        Le rapport est généré lors de l’acceptation du dossier.
        C’est une vue arrêtée du dossier à ce moment-là, qui ne sera normalement plus modifiée par la suite.

    = render "conservateurs/dossiers/accept_cta", dossier: @dossier
