.fr-col-md-6.fr-col-offset-1.co-hide--md.co-overflow--hidden.user-sessions-column-right.co-background--light-teal.co-image-blue-layer
  Connectez-vous pour recenser
  %br
  les objets protégés de votre commune
