= turbo_frame_tag :activite do
  = render "selecteur_de_periode"
  = render "activite", commune_messages_count: @departement.commune_messages_count(@date_range), commune_dossiers_transmis: @departement.commune_dossiers_transmis(@date_range)
