-# locals: (:recensement, :photo)

.co-photo-preview.fr-mb-2w{id: "photo-#{photo.id}",
  data: { recensement_form_step_target: "existingPhoto",
    controller: "photo-preview",
    photo_preview_target: "wrapper" } }
  .co-photo-upload-wrapper
    .co-photo-preview-loader
      %div
        %span.fr-icon-refresh-line.co-rotating{"aria-hidden": "true"}

    - if photo.variable?
      = image_tag photo.variant(:small),
        class: "fr-p-1w",
        data: { action: "load->photo-preview#onImageLoad", photo_preview_target: "image" }
    - else
      %span Image corrompue
  - if local_assigns[:delete_button]
    = button_to "Supprimer",
      commune_objet_recensement_photo_path(recensement.commune, recensement.objet, recensement, photo),
      class: "fr-link fr-link--icon-left fr-icon-delete-line",
      method: "delete"
