-# locals: (wizard:)

= link_to "Revenir à l’étape précédente",
  edit_commune_objet_recensement_path(wizard.commune, wizard.objet, wizard.recensement, step: wizard.previous_step_number),
  class: "fr-link fr-link--icon-left fr-icon-arrow-left-line",
  data: { turbo_action: "advance" }
