<% content_for(:head_title) { "Guide de recensement" } %>

<main class="fr-container fr-pt-2w fr-pb-8w">
  <%= render("shared/breadcrumbs", links: [["Accueil", root_path]], current_page_label: "Guide de recensement") %>
  <h2 class="co-text--blue">
    Guide de recensement
  </h2>
  <p>
    <%= link_to "Télécharger", "/guide.pdf", class: "fr-link fr-link--icon-right fr-fi-file-download-line", download: "guide.pdf" %>
  </p>
  <embed
    title="Guide du recensement"
    src="<%= @guide_url %>"
    type="application/pdf"
    width="100%"
    class="co-guide-embed" />
</main>
