<div class="fr-grid-row fr-container fr-grid-row--center fr-pb-8w">
  <div class="fr-col-md-8">
    <h1>Mentions légales</h1>

    <h2>Éditeur</h2>

    <p>
      Ce site est édité par le Ministère de la culture, 182, rue Saint-Honoré 75001 Paris
    </p>

    <h2>Directeur de la publication</h2>

    <p>
      Monsieur Romain Delassus, chef du service du numérique du Ministère de la Culture
    </p>

    <h2>Hébergement du site</h2>

    <p>
      Ce site est hébergé par
      <br />
      Outscale,
      <br />
      1, rue Royale – 319 Bureaux de la Colline
      <br />
      92210 Saint-Cloud
    </p>

    <h2>Accessibilité</h2>
    <p>
      La conformité aux normes d’accessibilité numérique est un objectif ultérieur mais nous tâchons de rendre ce site accessible à toutes et à tous.
    </p>

    <h2>Signaler un dysfonctionnement</h2>
    <p>
      Si vous rencontrez un défaut d’accessibilité vous empêchant d’accéder à un contenu ou une fonctionnalité du site, merci de nous en faire part.
      <br />
      Si vous n’obtenez pas de réponse rapide de notre part, vous êtes en droit de faire parvenir vos doléances ou une demande de saisine au Défenseur des droits.
      <br />
      Pour en savoir plus sur la politique d’accessibilité numérique de l’État : http://references.modernisation.gouv.fr/accessibilite-numerique
    </p>

    <h2>Sécurité</h2>

    <p>
      Le site est protégé par un certificat électronique, matérialisé pour la grande majorité des navigateurs par un cadenas. Cette protection participe à la confidentialité des échanges.
      <br />
      En aucun cas les services associés à la plateforme ne seront à l’origine d’envoi de courriels pour demander la saisie d’informations personnelles.
    </p>
  </div>
</div>
