<main>
  <div class="fr-container fr-grid-row fr-py-12w fr-grid-row--middle">
    <div class="fr-col-md-6">
      <h2 class="co-text--blue">Permanence</h2>
      <div class="fr-text--lg">
        Nous répondons à vos questions tous les jours entre 10h30 et 11h00. Sans inscription et ouvert à toutes les communes.
      </div>
      <div>
        <%= link_to "Rejoindre la permanence", "https://webinaire.numerique.gouv.fr//meeting/signin/5101/creator/1796/hash/fd40a07d8f00099929eb7d3c0bd97c70e8c49223", class: "fr-btn fr-fi-external-link-line fr-btn--icon-right", target: "_blank", rel: "noopener" %>
      </div>
    </div>
    <div class="fr-col-md-6">
      <%= image_tag "illustrations/man-laptop.svg", class: "co--width-max-100" %>
    </div>
  </div>
</main>
