<% content_for(:head_title) { "Statistiques" } %>

<main class="fr-py-8w">
  <iframe
      src="https://collectif-objets-metabase.osc-secnum-fr1.scalingo.io/public/dashboard/33cf5b50-b2e8-41c4-9bcd-ed7fe5b994d0"
      frameborder="0"
      allowtransparency
      style="width:100%; height: 100vh;"
      id="metabase-iframe"
  ></iframe>
</main>
