.fr-accordions-group.co-background--light-teal.fr-mb-4w
  %section.fr-accordion
    %h3.fr-accordion__title.fr-px-1w
      %button.fr-accordion__btn{"aria-controls": "etapes-accordion", "aria-expanded": local_assigns.fetch(:expanded, false).to_s}
        = t(".unfold")
    #etapes-accordion.fr-collapse
      = render "recensements/etapes_contenu"
      .co-text--center.fr-pt-4w
        = link_to t(".cta"), aide_path, class: "fr-btn fr-btn--secondary"
