.fr-container.fr-grid-row.fr-grid-row--center.fr-grid-row--gutters.fr-mt-4w.co-text--center
  .fr-col-md-4
    = vite_image_tag "images/illustrations/etape1.svg", class: "fr-mb-2w  co--width-max-100", alt: "Étape 1"
    %p
      %b Je me rends sur place
      pour recenser mes objets protégés et les prendre en photo
  .fr-col-md-4
    = vite_image_tag "images/illustrations/etape2.svg", class: "fr-mb-2w  co--width-max-100", alt: "Étape 2"
    %p
      %b Je remplis le formulaire en ligne
      sur l’emplacement et l’état actuel des objets
  .fr-col-md-4
    = vite_image_tag "images/illustrations/etape3.svg", class: "fr-mb-2w  co--width-max-100", alt: "Étape 3"
    %p
      %b Je reçois des conseils d’un conservateur d’antiquités et d’objets d’art
      pour assurer la pérennité de mes objets
