<div
  data-controller="recensement-form--upload-photo"
  data-recensement-form--upload-photo-target="wrapper"
>
  <div
    class="fr-upload-group"
    data-recensement-form--upload-photo-target="uploadGroup"
  >
    <label class="fr-label" for="recensement_photos">
      <span class="fr-hint-text">
        Taille maximale : 20 Mo. Formats supportés : jpg ou png. Vous pouvez ajouter plusieurs photos.
      </span>
    </label>
    <input name="recensement[photos][]" type="hidden" value="" autocomplete="off">
    <input
      type="file"
      data-direct-upload-url="<%= rails_direct_uploads_url %>"
      name="recensement[photos][]"
      accept="image/*"
      multiple
      value=""
      autocomplete="off"
      data-recensement-form--upload-photo-target="input"
      data-recensement-form--uploader-target="input"
      data-action="change->recensement-form--upload-photo#refreshPreview change->recensement-form--uploader#onInputChange change->recensement#refreshFields direct-upload:progress->recensement-form--upload-photo#setProgress"
      class="hide"
    >

    <div
      class="hide"
      data-recensement-form--upload-photo-target="ctaWithCapture"
    >
      <button
        class="fr-btn fr-btn--primary fr-icon-camera-line fr-btn--icon-left co-button--high co-button--big-icon co--width-100 co-flex--justify-content-center"
        data-action="recensement-form--upload-photo#triggerCapture"
      >
        Prendre une photo
      </button>
      <p class="co-text--center fr-mt-2w fr-mb-1w">
        Ou
      </p>
      <button
        class="fr-btn fr-btn--tertiary-no-outline fr-icon-attachment-line fr-btn--icon-right co--width-100 co-flex--justify-content-center"
        data-action="recensement-form--upload-photo#triggerBrowse"
      >
        Ajouter une photo enregistrée
      </button>
    </div>

    <div
      data-recensement-form--upload-photo-target="ctaWithoutCapture"
    >
      <button
        class="fr-btn fr-btn--primary fr-icon-attachment-line fr-btn--icon-right"
        data-action="recensement-form--upload-photo#triggerBrowse"
      >
        Ajouter une photo
      </button>
    </div>
  </div>
  <div
    class="hide co-flex co-flex--align-items-center fr-mb-2w"
    data-recensement-form--upload-photo-target="preview"
  >
    <div
      class="co-recensement-form-photo-wrapper"
      data-recensement-form--upload-photo-target="photoWrapper"
    >
      <div
        class="direct-upload__progress"
        data-recensement-form--upload-photo-target="progress"></div>
      <img data-recensement-form--upload-photo-target="img" />
    </div>
    <div class="fr-ml-2w">
      <div class="fr-mb-2w">
        <span class="co-text--muted" data-recensement-form--upload-photo-target="metadata"></span>
      </div>
      <button
        class="fr-btn fr-btn--secondary fr-icon-delete-line fr-btn--icon-right"
        data-action="click->recensement-form--upload-photo#remove"
      >
        Retirer cette photo
      </button>
    </div>
  </div>
</div>
