.co-flex { display: flex; }

.co-flex--align-items-center { align-items: center; }
.co-flex--align-content-center { align-content: center; }
.co-flex--align-items-stretch { align-items: stretch; }
.co-flex--align-items-end { align-items: end; }

.co-flex--justify-content-center { justify-content: center; }
.co-flex--justify-content-end { justify-content: flex-end; }
.co-flex--space-between { justify-content: space-between; }

.co-flex--gap-05rem { gap: .5rem; }
.co-flex--gap-1rem { gap: 1rem; }
.co-flex--gap-2rem { gap: 2rem; }

.co-flex--wrap { flex-wrap: wrap; }
.co-flex--column { flex-direction: column; }
.co-flex--grow { flex-grow: 1;  }
.co-flex--shrink-0 { flex-shrink: 0; }

@media only screen and (max-width: 768px) {
  .co-flex-md-reverse-order { order: -1; }
}
