/* TEXT COLORS */

.co-text--black,
.co-text--black.fr-input:disabled {
  color: rgb(58, 58, 58);
}

.co-text--blue { color: rgb(0, 0, 145) !important; }
.co-text--red { color: rgb(145, 0, 0) !important; }
.co-text--muted { color: rgb(103, 103, 103); }

html[data-fr-scheme="dark"] .co-text--blue {
  color: rgb(137, 137, 203) !important;
}

/* TEXT ALIGNS */

.co-text--center { text-align: center; }
.co-text--right { text-align: right; }

/* TEXT STYLES */

.co-text--italic { font-style: italic; }
.co-text--monospace { font-family: monospace; }
.co-text--bold { font-weight: bold; }
.co-text--weight-normal { font-weight: normal; }
.co-text--strikethrough,
.co-text--strikethrough .fr-badge {
  text-decoration: line-through;
}
.co-text--underline { text-decoration: underline; }

/* WHITE SPACES & WORD BREAKS */

.co-white-space-pre-line { white-space: pre-line; }
.co-white-space-nowrap { white-space: nowrap; }
.co-word-break-all { word-break: break-all; }

/* TEXT SIZES */

.co-text--sm { font-size: 0.8em; }

/* TEXT CONTAINERS */

.co-readable p,
.co-readable ul {
  max-width: 45rem;
}
