<nav role="navigation" class="fr-breadcrumb co-print-invisible" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <% local_assigns[:links].map do |label, path| %>
        <li>
          <a class="fr-breadcrumb__link" href="<%= path %>">
            <%= truncate(label, length: 25) %>
          </a>
        </li>
      <% end %>
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">
          <%= truncate(local_assigns[:current_page_label], length: 25) %>
        </a>
      </li>
    </ol>
  </div>
</nav>
