<nav role="navigation" class="fr-breadcrumb co-print-invisible" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <% local_assigns[:links].map do |label, path| %>
        <li>
          <%= link_to truncate(label, length: 25), path, class: "fr-breadcrumb__link", title: label.size > 25 ? label : nil %>
        </li>
      <% end %>
      <li>
        <a class="fr-breadcrumb__link" aria-current="page" <%= "title=#{current_page_label}" if current_page_label.size > 25 %>>
          <%= truncate(current_page_label, length: 25) %>
        </a>
      </li>
    </ol>
  </div>
</nav>
