- photo ||= PhotoPresenter.new(url: "illustrations/photo-manquante.png", description: "Photo manquante")

.fr-card__img
  = image_tag(photo.url, class: "fr-responsive-img co-object-fit-contain", alt: photo.alt)
  = yield
