<div class="fr-card__img co-position-relative">
  <div class="co-position-relative" style="z-index: 1; height: 100%;">
    <%= vite_or_raw_image_tag(url, class: "fr-responsive-img co-object-fit-contain") %>
  </div>
  <div class="co-spinner-bg"></div>
  <%= yield %>
</div>
