<div
  data-controller="chart-percentage"
  data-chart-percentage-target="wrapper"
  data-values="<%= values.to_json %>"
  data-labels="<%= labels.to_json %>"
  data-colors="<%= colors.to_json %>"
>
  chargement…
</div>