<% if ["development", "staging"].include?(Rails.configuration.x.environment_specific_name) %>
  <div class="co-environment-banner co-environment-banner-<%= Rails.configuration.x.environment_specific_name %>">
    <%= Rails.configuration.x.environment_specific_name %>
    <%= link_to "✉️", "http://localhost:8025" if Rails.env.development? %>
  </div>
  <style>
    .co-environment-banner {
      position: fixed;
      z-index: 1000;
      top: 40px;
      right: -51px;
      width: 206px;
      transform: rotate(45deg);
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      font-family: monospace;
      font-size: 1rem;
    }

    .co-environment-banner-development {
      background-color: #a300ff;
    }

    .co-environment-banner-staging {
      background-color: #ffa700;
    }
  </style>
<% end %>
