- if [notice, alert].map(&:presence).any?
  .fr-container.fr-mt-4w{role: :alert}
    .fr-alert{class: "fr-alert--#{notice ? 'info' : 'error'}" }
      .fr-alert__content
        = notice ? notice : alert
