- if notice || alert
  .fr-container.fr-mt-1w{role: "alert"}
    .fr-alert{class: [("fr-alert--info" if notice), ("fr-alert--error" if alert)] }
      .fr-alert__content
        = notice ? notice : alert
