- if notice
  .fr-container.fr-pt-1w{role: "alert"}
    .fr-alert.fr-alert--info
      .fr-alert__content
        = notice
- if alert
  .fr-container.fr-pt-1w{role: "alert"}
    .fr-alert.fr-alert--error
      .fr-alert__content
        = alert
