= dsfr_header(logo_text: "Ministère\nde la Culture".html_safe,
  title: "Collectif Objets",
  tagline: "Préservez votre patrimoine mobilier",
  html_attributes: {id: "header-navigation"}) do |c|

  - if current_conservateur
    - c.with_tool_link title: current_conservateur, path: edit_conservateur_registration_path, classes: ["fr-icon-settings-5-line"]
    - c.with_tool_link title: "Activité des communes", path: activite_conservateurs_departements_path, classes: ["fr-icon-notification-3-line"]
    - c.with_tool_link title: "Déconnexion", path: destroy_conservateur_session_path, classes: ["fr-icon-logout-box-r-line"], html_attributes: { "data-turbo-method": "DELETE" }

    - if current_conservateur.departements.count > 2
      - c.with_direct_link_simple title: "Mes départements", path: conservateurs_departements_path, active: active_nav_link?("Mes départements")
    - else
      - current_conservateur.departements.each do |departement|
        - c.with_direct_link_simple title: departement, path: conservateurs_departement_path(departement.code), active: active_nav_link?(departement.to_s)

    - c.with_direct_link_dropdown title: "Mes actions", active: active_nav_link?("Mes actions") do |dropdown|
      - dropdown.with_link title: "Déplacements prévus", path: conservateurs_visits_path
      - dropdown.with_link title: "Fiches attribuées", path: conservateurs_fiches_path

    - c.with_direct_link_simple title: "Recenseurs", path: conservateurs_recenseurs_path, active: active_nav_link?("Recenseurs")

    - c.with_direct_link_simple title: "Documentation", path: content_blob_path(:documentation_conservateur), active: active_nav_link?("Documentation")

    - c.with_search do
      = render "shared/header/header_conservateur_search"

  - elsif current_user
    - c.with_tool_link title: "Voir les objets de #{current_user.commune.nom}", path: commune_objets_path(current_user.commune), classes: ["fr-icon-eye-line"]
    - c.with_tool_link title: "Déconnexion", path: user_session_path, classes: ["fr-icon-logout-box-r-line"], html_attributes: { "data-turbo-method": "DELETE" }
    - c.with_tool_link title: "Préférences", path: edit_user_registration_path, classes: ["fr-icon-settings-5-line"]

    - c.with_direct_link_simple title: "Recensement", path: commune_objets_path(current_user.commune), active: active_nav_link?("Recensement")
    - c.with_direct_link_simple title: commune_messagerie_title(current_user.commune), path: commune_messages_path(current_user.commune), active: active_nav_link?("Messagerie")
    - c.with_direct_link_simple title: "Examen du conservateur", path: commune_dossier_path(current_user.commune), active: active_nav_link?("Examen du conservateur")
    - c.with_direct_link_simple title: "Recenseurs", path: commune_recenseurs_path(current_user.commune), active: active_nav_link?("Recenseurs")
    - c.with_direct_link_simple title: "Comment ça marche ?", path: aide_path, active: active_nav_link?("Comment ça marche ?")

    - c.with_direct_link_dropdown title: "À propos", active: active_nav_link?("À propos", "Aide en ligne", "On parle de nous", "Statistiques") do |dropdown|
      - dropdown.with_link title: "Aide en ligne", path: content_blob_path(:aide_en_ligne), active: active_nav_link?("Aide en ligne")
      - dropdown.with_link title: "On parle de nous", path: presse_path
      - dropdown.with_link title: "Statistiques", path: stats_path

  - elsif current_recenseur
    - c.with_tool_link title: "Préférences", path: recenseur_registration_path, classes: ["fr-icon-settings-5-line"]
    - c.with_tool_link title: "Déconnexion", path: recenseur_session_path, classes: ["fr-icon-logout-box-r-line"], html_attributes: { "data-turbo-method": :delete }

    - if current_recenseur.communes.count == 1
      - c.with_direct_link_simple title: current_recenseur.communes.first, path: recenseurs_commune_path(current_recenseur.communes.first), active: active_nav_link?("Communes")
    - else
      - c.with_direct_link_simple title: "Communes", path: recenseurs_communes_path, active: active_nav_link?("Communes")

    - c.with_direct_link_simple title: "Comment ça marche ?", path: content_blob_path(:aide_en_ligne), active: active_nav_link?("Aide en ligne")

    - c.with_direct_link_dropdown title: "À propos", active: active_nav_link?("À propos", "On parle de nous", "Statistiques") do |dropdown|
      - dropdown.with_link title: "On parle de nous", path: presse_path
      - dropdown.with_link title: "Statistiques", path: stats_path

  - elsif current_admin_user
    - c.with_tool_link title: "#{current_admin_user} (Admin)", path: admin_path, classes: ["fr-icon-admin-line"]
    - c.with_tool_link title: "Déconnexion", path: destroy_admin_user_session_path, classes: ["fr-icon-logout-box-r-line"], html_attributes: { "data-turbo-method": "DELETE" }
    - c.with_direct_link_simple title: "Administration", path: admin_path, active: active_nav_link?("Administration")
    - c.with_direct_link_simple title: "Communes", path: admin_communes_path, active: active_nav_link?("Communes")
    - c.with_direct_link_simple title: "Conservateurs", path: admin_conservateurs_path, active: active_nav_link?("Conservateurs")
    - c.with_direct_link_simple title: "Recenseurs", path: admin_recenseurs_path, active: active_nav_link?("Recenseurs")
    - c.with_direct_link_simple title: "Campagnes", path: admin_campaigns_path, active: active_nav_link?("Campagnes")
    - c.with_direct_link_simple title: "CMS", path: "https://collectif-objets-cms.netlify.app/", html_attributes: { target: "_blank", rel: "noopener" }

  - else
    - c.with_tool_link title: "Connexion commune", path: new_user_session_code_path, classes: ["fr-icon-user-line"]
    - c.with_tool_link title: "Connexion conservateur", path: new_conservateur_session_path, classes: ["fr-icon-user-star-line"]

    - c.with_direct_link_simple title: "Comment ça marche ?", path: aide_path, active: active_nav_link?("Comment ça marche ?")
    - c.with_direct_link_simple title: "On parle de nous", path: presse_path, active: active_nav_link?("On parle de nous")
    - c.with_direct_link_simple title: "Statistiques", path: stats_path, active: active_nav_link?("Statistiques")
    - c.with_direct_link_simple title: "Je suis conservateur", path: accueil_conservateurs_path, active: active_nav_link?("Je suis conservateur")
