<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
                Ministère
                <br>
                de la Culture
              </p>
            </div>
            <div class="fr-header__navbar">
              <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-833" aria-haspopup="menu" title="Menu" id="fr-btn-menu-mobile">
                Menu
              </button>
            </div>
          </div>
          <div class="fr-header__service">
            <a href="/" title="Accueil - Collectif Objets - Ministère de la Culture">
              <p class="fr-header__service-title">Collectif Objets</p>
            </a>
            <p class="fr-header__service-tagline">Préservez votre patrimoine mobilier</p>
          </div>
        </div>
        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            <ul class="fr-links-group">
              <li>
                <a class="fr-link" href="#">Comment ça marche ?</a>
              </li>
              <% if current_user %>
                <li>
                  <%= link_to "Mon compte", edit_user_registration_path, class: "fr-link fr-fi-user-line" %>
                </li>
              <% else %>
                <li>
                  <%= link_to "Connexion", new_user_session_path, class: "fr-link fr-fi-lock-line" %>
                </li>
              <% end %>
              <li>
                <% if current_user&.commune %>
                  <%= link_to "Voir les objets de #{current_user.commune.nom}" , objets_path(commune_code_insee: current_user.commune.code_insee), class: "fr-btn" %>
                <% else %>
                  <%= link_to "Voir les objets dans ma commune" , objets_path, class:   "fr-btn" %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-header__menu fr-modal" id="modal-833" aria-labelledby="fr-btn-menu-mobile">
    <div class="fr-container">
      <button class="fr-link--close fr-link" aria-controls="modal-833">Fermer</button>
      <div class="fr-header__menu-links"></div>
    </div>
  </div>
</header>
