= render "shared/video_embed",
  video_id: "114c5786-72a6-4c25-9638-cf4d87861963",
  height: 260,
  title: "Reportage sur le terrain à Montaulin, avec Remy Marty, Maire de la commune, Eric Blanchegorge, conservateur d’antiquités et d’objets d’art de lʼAube et Fantine Monot, chargée de déploiement pour Collectif Objets.",
  source_text: "Voir sur canal32.fr",
  source: "https://www.canal32.fr/thematiques/culture/sujet/des-maires-participent-au-recensement-du-patrimoine-du-02-novembre-2022.html",
  ratio_4_3: true do
  :markdown
    Début octobre, 368 maires de l'Aube ont reçu un e-mail pour se connecter à la plateforme Collectif Objets.

    Grâce à cinq cases à cocher par œuvre, ils peuvent contribuer en quelques minutes à l'établissement de l'état des lieux de leur patrimoine.

    > *Chargée de déploiement* : « En fait, elles arrivent sur la liste des objets protégés au sein de leur commune.

    > On leur demande de mettre des photos parce que les conservateurs, c'est à partir des photos qu'ils vont vraiment pouvoir faire leur travail d'analyse et savoir si la situation est urgente, s'ils doivent se déplacer sur place.

    > C'est vraiment des questions très simples qu'on pose aux communes. Par exemple, on leur demande quel est l'état de conservation de l'objet et c'est : bon état, état moyen, mauvais état ou en péril. C'est pour que ce soit le plus rapide et facile possible pour les élus. »

    Ce recensement permet comme ici à Montaulin de repérer les pièces disparues et pourtant inscrites au titre des monuments historiques.

    > — *Maire* : « L'idée, c'est d'enquêter pour essayer de retrouver l'emplacement de cette lampe. »

    Cette lampe de sanctuaire du XVIIIᵉ siècle sera retrouvée sous un escalier quelques minutes plus tard.

    > « Oui, oui, ça c'est mieux. Pas de trésor. »

    Malgré la poussière, la photo de l'objet permettra de déterminer s'il faudra accompagner le maire pour entamer une action de restauration.

    > — *Maire* : « La première réaction, c'était de dire : ”Encore un travail supplémentaire“.

    > Après réflexion, j'ai trouvé un intérêt à cette base de données, déjà de s'assurer qu'on avait tous les objets, mettre l'œil sur des objets qui avaient un peu subi l'âge. »

    > — *Conservateur* : Monsieur le maire et son équipe ont repéré une infestation, on voit là la poudre de bois.

    > — *Maire* : J'attends, moi, de cet inventaire qu'on puisse me guider vers les entreprises, vers les artisans.

    > — *Chargée de déploiement* : On ne veut pas juste la donnée pour la donnée, c'est savoir dans quel état sont les objets et lorsque c'est nécessaire, revenir vers la commune avec des recommandations pour l'accompagner dans ces démarches patrimoniales. Et là, par exemple, on a une restauration qui est en cours, qui a commencé dans la Nièvre. »

    Lors de cette expérimentation, la facilité de mise en œuvre a abouti à une participation plus importante que prévu des maires, selon la DRAC. Cela garantit également un meilleur suivi.

    > — *Chargée de déploiement* : « En cinq ans, on veut avoir fait le tour d'un département, donc 20% chaque année. Et en fait, on voit que là, dès l'année 1, on est à 35% de participation.

    > — *Chargée de communication DRAC* : On préconise de le laisser sur place parce que ce sont des objets qui expliquent l'histoire du lieu, d'où la nécessité de les connaître pour les protéger. »

    À mi-parcours, 835 des 4 300 objets mobiliers classés dans l'aube ont été recensés. Les maires ont jusqu'à fin novembre pour retrouver les objets, renouveler les photos et répondre aux questions.
