-# locals: (title:, video_id:, height: 315)

%iframe{title: "#{title} - Collectif Objets",
  width: "100%",
  height: height,
  src: "https://tube.numerique.gouv.fr/videos/embed/#{video_id}",
  frameborder: "0",
  allowfullscreen: "",
  sandbox: "allow-same-origin allow-scripts allow-popups"}
