<%= form_for(
  dossier,
  url: conservateurs_dossier_private_notes_path(dossier),
  method: "PATCH",
  builder: FormBuilderDsfr,
  html: { data: { controller: "turbo-form-badge" }}
) do |f| %>
  <div class="fr-input-group">
    <%= f.label(
      :notes_conservateur_private,
      t("activerecord.attributes.dossier.interface_conservateurs.notes_conservateur_private")
    ) %>
    <%= f.text_area(
      :notes_conservateur_private,
      data: { action: "input->turbo-form-badge#throttledHideBadge" }
    ) %>
  </div>
  <div class="co-flex co-flex--align-items-center co-flex--gap-1rem">
    <div>
      <%= f.submit "Sauvegarder" %>
    </div>
    <% if local_assigns[:saved] %>
      <div>
        <span
          class="fr-badge fr-badge--sm fr-badge--success co-transition--fade"
          data-turbo-form-badge-target="badge"
        >
          sauvegardé
        </span>
      </div>
    <% end %>
  </div>

<% end %>
