<% content_for(:head_title) { "Mon compte" } %>

<main class="fr-container fr-py-4w fr-grid-row fr-grid-row--center" data-controller="devise--sessions">
  <div class="fr-col-md-8">
    <%= render("shared/breadcrumbs", links: [["Accueil", root_path]], current_page_label: "Mon compte") %>

    <div class="fr-mb-6w">
      <h3>Mon compte</h3>
      <ul>
        <li>Prénom: <b><%= current_conservateur.first_name %></b></li>
        <li>Nom: <b><%= current_conservateur.last_name %></b></li>
      </ul>
      <p>

      <%# using a DELETE form without turbo because https://github.com/heartcombo/devise/issues/5458 %>
      <%= form_tag destroy_conservateur_session_path, method: :delete, data: { turbo: false } do %>
        <button type="submit" class="fr-btn fr-btn--secondary fr-icon-logout-box-r-line fr-btn--icon-left">
          Déconnexion
        </button>
      <% end %>
    </div>
  </div>
</main>
