- content_for(:head_title) { "Éditer la campagne #{campaign_title(@campaign)}" }

%main#contenu.fr-container.fr-pt-2w.fr-pb-4w
  = render "shared/breadcrumbs", links: [["Accueil", root_path], ["Campagnes", admin_campaigns_path], [campaign_title(@campaign), admin_campaign_path(@campaign)]], current_page_label: "Éditer la configuration"

  %h1 Éditer la campagne #{campaign_title(@campaign)}

  = render "shared/campaigns/form", campaign: @campaign, routes_prefix: :admin
