-# locals: (:form_builder)

- analyse_override = form_builder.object.analyse_etat_sanitaire.present?

= render RecensementRadiosFieldsetComponent.new(form_builder:, field: :etat_sanitaire) do |c|
  - c.with_legend do
    Quel est l’état actuel de l’objet ?
    .fr-hint-text
      Pour vous aider à estimer l’état de l’objet et la vitesse de dégradation, deux points sont à observer:
      %ul
        %li
          L'environnement immédiat de l’objet (déjections, poussières amoncelés, éclats ou morceaux tombés)
        %li
          L'objet lui-même (son intégrité est-elle bonne, la peinture qui le recouvre est-elle homogène, a-t-il l'air contaminé par un champignon, un ver, une mousse ?)
      = link_to "Voir les points d'attention en fonction de la nature des objets page 11 du guide", guide_url(page: 11), target: "_blank", rel: "noopener"
  - c.with_option value: :bon, label: t("recensement.etat_sanitaire_choices.bon"), disabled: analyse_override
  - c.with_option value: :moyen, label: t("recensement.etat_sanitaire_choices.moyen"), disabled: analyse_override
  - c.with_option value: :mauvais, label: t("recensement.etat_sanitaire_choices.mauvais"), disabled: analyse_override
  - c.with_option value: :peril, label: t("recensement.etat_sanitaire_choices.peril"), disabled: analyse_override

- if analyse_override
  = form_builder.hidden_field :etat_sanitaire # resubmit with existing value
  .fr-mt-1w.co-text--italic Cette évaluation a été modifiée par le conservateur, vous ne pouvez pas la modifier
