-# locals: (:form_builder)

= render RecensementRadiosFieldsetComponent.new(form_builder:, field: :securisation) do |c|
  - c.with_legend do
    L’objet est-il en sécurité ?
    .fr-hint-text
      = link_to "Voir la page 18 du guide", guide_url(page: 18), target: "_blank", rel: "noopener"
  - c.with_option value: :en_securite, label: t("recensement.securisation_choices.en_securite")
  - c.with_option value: :en_danger, label: t("recensement.securisation_choices.en_danger")
