-# locals: (form_builder:)

- analyse_override = form_builder.object.analyse_securisation.present?

= render RecensementRadiosFieldsetComponent.new(form_builder:, field: :securisation) do |c|
  - c.with_legend do
    L’objet est-il en sécurité ?
    .fr-hint-text
      = link_to "Voir la page 14 du guide", guide_url(page: 14), target: "_blank", rel: "noopener"
  - c.with_option value: :en_securite, label: t("recensement.securisation_choices.en_securite"), disabled: analyse_override
  - c.with_option value: :en_danger, label: t("recensement.securisation_choices.en_danger"), disabled: analyse_override

- if analyse_override
  = form_builder.hidden_field :securisation # resubmit with existing value
  .fr-mt-1w.co-text--italic Cette évaluation a été modifiée par le conservateur, vous ne pouvez pas la modifier
