.fr-col-md-3
  .fr-card.fr-enlarge-link.co-background--light-teal
    .fr-card__body
      .fr-card__content
        %h2.fr-card__title
          = link_to t("communes.objets.objets_manquants.pourquoi_n_objets", count: objets.count),
            aide_path(anchor: "faq-manquants"),
            class: "fr-card__link"
        %p.fr-card__desc
          = t("communes.objets.objets_manquants.seulement_objets_proteges_html")
        %p.fr-card__desc.co-text--underline
          = t("communes.objets.objets_manquants.en_savoir_plus")
