<% content_for(:head_title) { truncate(@objet.nom, length: 20) } %>

<main class="fr-container co-objet-show fr-pt-2w">
  <%= render(
    "shared/breadcrumbs",
    links: [
      ["Accueil", root_path],
      [
        "Objets de #{@objet.commune.nom}",
        objets_path(commune_code_insee: @objet.commune.code_insee)
      ]
    ],
    current_page_label: @objet.nom
  ) %>

  <h2 class="fr-mb-4w"><%= @objet.nom %></h2>
  <%= render ObjetPageComponent.new(objet: @objet) %>
</main>
