%main#contenu.fr-grid-row.fr-container.fr-grid-row--center.fr-pb-8w.fr-pt-2w
  .fr-col-md-8
    %h1 Conditions générales d’utilisation

    :markdown
      *Dernière mise à jour le 4 juillet 2024*

      Les présentes conditions générales d’utilisation (dites « CGU ») fixent le cadre juridique de la Plateforme « Collectif Objets » et définissent les conditions d’accès et d’utilisation des services par l’Utilisateur.

      ## Article 1 - Champ d’application

      **Le présent document a pour objet d’encadrer l’utilisation de la Plateforme.**

      **Toute utilisation de la Plateforme est subordonnée au respect intégral des présentes CGU.**

      ## Article 2 - Objet

      La Plateforme, dénommée « Collectif Objets » accompagne les communes dans la protection et la valorisation du patrimoine culturel, dans le but de lutter notamment contre les vols et les dégradations des objets monuments historiques.

      ## Article 3 - Définitions

      - **« Plateforme » désigne le service numérique Collectif Objets.**
      - **« Services » désigne les fonctionnalités offertes par la Plateforme pour répondre à ses finalités.**
      - **« Utilisateur » est tout conservateur ou conservatrice qui utilise la Plateforme.**

      ## Article 4 - Fonctionnalités

      Plusieurs fonctionnalités sont disponibles sur la plateforme :

      ### Compte Utilisateur

      Le compte Utilisateur sur la Plateforme est créé au préalable à partir du mail générique de la mairie concernée, ainsi que la liste des objets monuments historiques rattachés à chaque municipalité. Nous envoyons un lien de connexion automatique pour accéder au compte, qui peut être utilisé par toute personne ayant un accès habilité à l’adresse mail générique de la mairie concernée.

      ### Découverte des objets d’une commune

      La Plateforme recense et permet d’accéder à une liste d’objets détenus par les communes. Des statistiques sur le suivi global de Collectif Objets sont également disponibles sur la Plateforme.

      ### Recensement des objets

      À la fin de chaque recensement, les personnes concernées peuvent renseigner leurs informations personnelles. Ils peuvent notamment ajouter des informations complémentaires sur leur recensement dans une zone de champ libre, sans pour autant indiquer de données identifiantes supplémentaires ou de données sensibles.

      ## Article 5 - Responsabilités

      ### 5.1 L’Éditeur de la Plateforme

      L’Éditeur de la Plateforme s’engage à :

      - mettre à disposition de l’Utilisateur une Plateforme permettant les fonctionnalités décrites ci-avant ;
      - mettre à disposition le service gratuitement ;
      - collecter, conserver, traiter, héberger les données et/ou contributions de manière loyale et conformément aux finalités de la Plateforme ;
      - prendre toute mesure nécessaire de nature à garantir la sécurité et la confidentialité des informations fournies par l’usager et notamment empêcher qu’elles soient déformées, endommagées ou que des tiers non autorisés y aient accès ;
      - ne commercialiser, d’aucune manière, les informations et pièces justificatives récoltées dans le cadre de la Plateforme.

      L’Éditeur s’autorise à supprimer, sans préavis ni indemnité d’aucune sorte, tout compte faisant l’objet d’une utilisation contrevenante aux présentes CGU.

      L’indisponibilité de la Plateforme ne donne droit à aucune indemnité.

      L’Éditeur de la Plateforme, dans le cadre de ses missions et à titre de modération, dispose d’un accès à la messagerie. Cet accès est strictement limité aux seules personnes habilitées de l’équipe Collectif Objets.


      ### 5.2 L’Utilisateur

      L’Utilisateur reconnait avoir lu les présentes CGU et s’engage à :

      - accepter toute modification à venir des présentes CGU dont il aura été informé au préalable par mail ;
      - prévenir immédiatement l’Éditeur de toute utilisation non autorisée de son compte ou de ses informations ;
      - communiquer des informations à jour et exactes notamment s’agissant des informations relatives au profil, sa situation personnelle et les missions proposées. Il est rappelé que toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s’expose, notamment, aux sanctions prévues à l’article 441-1 du Code Pénal, prévoyant des peines pouvant aller jusqu’à trois ans d’emprisonnement et 45 000 euros d’amende.

      Les Utilisateurs peuvent signaler toute description, information ou commentaire ne répondant pas aux CGU.

      L’Utilisateur s’engage notamment à ne pas renseigner d’autres données à caractère personnel ou des données sensibles dans la zone de champ libre à la fin du recensement.

      ## Article 6 - Mise à jour des conditions générales d’utilisation

      Les termes des présentes conditions générales d’utilisation peuvent être amendés à tout moment, sans préavis, en fonction des modifications apportées à la plateforme, de l’évolution de la législation ou pour tout autre motif jugé nécessaire. Chaque modification donne lieu à une nouvelle version qui est acceptée par les parties.

      ## Article 7 - Propriété intellectuelle

      Conformément au décret n° 2017-638 prévu par l’article L. 323-2 du Code des Relations entre le Public et l’Administration (CRPA), les administrations publiques peuvent ouvrir leurs données et soumettre la réutilisation à titre gratuit des informations publiques qu'elle détient sous la licence ouverte.

      En cochant la case lors de l’envoi de vos documents, vous renoncez à vos droits sur ceux-ci et prenez connaissance qu'ils seront placés sous licence ouverte.

      ## Prise de contact

      Tout utilisateur peut contacter Collectif Objet via l’adresse mail suivante : [#{CONTACT_EMAIL}](mailto:#{CONTACT_EMAIL})
