%main#contenu.fr-grid-row.fr-container.fr-grid-row--center.fr-pb-8w.fr-pt-2w
  .fr-col-md-8
    %h1 Conditions générales d’utilisation

    :markdown
      *Dernière mise à jour le 03/05/2022*

      Les présentes conditions générales d’utilisation (dites « CGU ») fixent le cadre juridique de la Plateforme « Collectif Objets » et définissent les conditions d’accès et d’utilisation des services par l’Utilisateur.

      ## Quel est le produit concerné par le présent document ?

      La plateforme, dénommée « Collectif Objets » accompagne les communes dans la protection et la valorisation du patrimoine culturel, afin de notamment lutter contre les vols et les dégradations des objets monuments historiques.

      Vous vous engagez à respecter l’ensemble de ses dispositions, ainsi que ses éventuelles mises à jour.


      ## Quelles sont les définitions ?

      Les termes employés avec une majuscule dans le document ont la définition suivante :

      - « Utilisateur » désigne toute personne utilisant la Plateforme ;


      ## Quelles sont les fonctionnalités de la plateforme ?

      Plusieurs fonctionnalités sont disponibles sur la plateforme :


      ### Compte utilisateur

      Le compte utilisateur sur la plateforme est créé au préalable à partir du mail générique de la mairie concernée, ainsi que la liste des objets monuments historiques rattachés à chaque municipalité. Nous envoyons un lien de connexion automatique pour accéder au compte, qui peut être utilisé par toute personne ayant un accès habilité à l’adresse mail générique de la mairie concernée.

      Dans le cadre de l’utilisation de la plateforme, l'agent n'a pas besoin de créer de compte individuel, en ce sens aucune donnée à caractère personnel n’est traitée par Collectif Objets.


      ### Découverte des objets d’une commune

      La plateforme recense et permet d’accéder à une liste d’objets détenus par les communes. Des statistiques sur le suivi global de Collectif Objets sont également disponibles sur la plateforme.


      ## Quels sont les engagements respectifs ?

      ### L’éditeur de la Plateforme

      L’éditeur de la Plateforme s’engage à :

      - mettre à disposition de l’Utilisateur une Plateforme permettant les fonctionnalités décrites ci-avant ;
      - mettre à disposition le service gratuitement ;
      - collecter, conserver, traiter, héberger les données et/ou contributions de manière loyale et conformément aux finalités de la Plateforme ;
      - prendre toute mesure nécessaire de nature à garantir la sécurité et la confidentialité des informations fournies par l’usager et notamment empêcher qu’elles soient déformées, endommagées ou que des tiers non autorisés y aient accès ;
      - ne commercialiser, d’aucune manière, les informations et pièces justificatives récoltées dans le cadre de la Plateforme ;

      L’éditeur s’autorise à supprimer, sans préavis ni indemnité d’aucune sorte, tout compte faisant l’objet d’une utilisation contrevenante aux présentes CGU.

      L’indisponibilité de la Plateforme ne donne droit à aucune indemnité.

      L’Éditeur de la Plateforme, dans le cadre de ses missions et à titre de modération, dispose d’un accès à la messagerie.
      Cet accès est strictement limité aux seules personnes habilitées de l’équipe Collectif Objets.

      ### L’Utilisateur

      L’Utilisateur reconnait avoir lu les présentes CGU et s’engage à :

      - accepter toute modification à venir des présentes CGU dont il aura été informé au préalable par mail ;
      - prévenir immédiatement l’éditeur de toute utilisation non autorisée de son compte ou de ses informations ;
      - communiquer des informations à jour et exactes notamment s’agissant des informations relatives au profil, sa situation personnelle et les missions proposées. Il est rappelé que toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s’expose, notamment, aux sanctions prévues à l’article 441-1 du Code Pénal, prévoyant des peines pouvant aller jusqu’à trois ans d’emprisonnement et 45 000 euros d’amende.

      Les Utilisateurs peuvent signaler toute description, information ou commentaire ne répondant pas aux CGU.

      L’éditeur se réserve le droit de supprimer et de modérer sans préavis, si les présentes règles ne sont pas respectées.


      ## Comment sont mises à jour des conditions d’utilisation ?

      Les termes des présentes conditions d’utilisation peuvent être amendés à tout moment, sans préavis, en fonction des modifications apportées à la plateforme, de l’évolution de la législation ou pour tout autre motif jugé nécessaire.


      ## Propriété intellectuelle

      Conformément au décret n°2017-638 prévu par l’article L323-2 du Code des Relations entre le Public et l’Administration (CRPA), les administrations publiques peuvent ouvrir leurs données et soumettre la réutilisation à titre gratuit des informations publiques qu'elle détient sous la licence ouverte.

      En cochant la case lors de l’envoi de vos documents, vous renoncez à vos droits sur ceux-ci et prenez connaissance qu'ils seront placés sous licence ouverte.


      ## Prise de contact

      Tout utilisateur peut contacter Collectif Objet via l’adresse mail suivante : collectifobjets@beta.gouv.fr
