<main>
  <div class="fr-container">
    <div class="fr-grid-row fr-pt-8w fr-pb-16w fr-grid-row--middle">
      <div class="fr-col-md-6">
        <h2 class="fr-display--xl co-text--blue">Merci pour votre participation</h2>
        <p>
          Nous vous confirmons que votre participation a bien été prise en compte. Nous revenons vers vous au plus vite par mail, pour vous aider dans votre démarche.
        </p>
        <p>
          <%= link_to "Revenir à l'accueil", root_path, class: "fr-btn" %>
        </p>
      </div>
      <div class="fr-col-md-6">
        <%= image_tag "illustrations/people-clap.jpg", class: "co--width-max-100" %>
      </div>
    </div>
  </div>
</main>
