%main.fr-container.fr-pb-16w.fr-pt-2w
  = render "shared/breadcrumbs", links: [["Accueil", root_path]], current_page_label: "Connexion"
  %h1 Connexion
  %ul

    %li= link_to "Je suis conservateur ou conservatrice",
    %li= link_to "Je suis administrateur de Collectif Objets", new_admin_user_session_path
