- title = t("pages.pdf_embed.title.guide")
- content_for(:head_title) { title }

%main#contenu.fr-container.fr-pt-2w.fr-pb-8w
  = render "shared/breadcrumbs", links: [["Accueil", root_path]], current_page_label: title
  %h1= title
  %p
    = link_to "Télécharger", url_for(format: :pdf), class: "fr-link fr-link--icon-right fr-icon-file-download-line", download: "guide.pdf"
  %embed.co-pdf-embed.co-height--60vh{src: "#{url_for(format: :pdf)}", title: title, type: "application/pdf", width: "100%" }
