<main class="fr-container">
  <div class="fr-grid-row fr-py-4w fr-grid-row--middle">
    <div class="fr-col-md-6">
      <h3>
        420 communes de la Marne abritent des objets classés ou inscrits aux monuments historiques.
      </h3>
      <p>
        <b>Ensemble, protégeons notre patrimoine.</b>
        <br />
        La DRAC Grand-Est lance une opération de recensement participatif pour accompagner les communes Marnaises dans la
        protection et la valorisation de leur patrimoine mobilier. Vous êtes en charge du patrimoine de votre commune ?
        Votre territoire détient peut-être certains de ces objets.
      </p>
      <p>
        <%= link_to "Je découvre les objets de ma commune" , objets_path, class: "fr-btn" %>
      </p>
    </div>
    <div class="fr-col-md-6">
      <%= image_tag "home-hero-1.png" , class: "home-hero" %>
    </div>
  </div>
</main>
