<% content_for(:head_title) { "Liste des communes" } %>

<script src='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js'></script>
<link href='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css' rel='stylesheet' />


<main class="fr-container fr-pt-2w fr-pb-4w">
  <%= render(
    "shared/breadcrumbs",
    links: [
      ["Accueil", root_path],
      ["Tous les objets", objets_path]
    ],
    current_page_label: "Liste des communes")
  %>

  <h2>Liste des communes par département</h2>

  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-md-6 co-flex--grow">
      <div
        data-controller="objets-map"
        data-objets-map-target="container"
        style="height: 400px; width: 100%;">
      </div>
      <p class="co-text--italic co-text--center">
        Nombre dʼobjets protégés par département et par commune
      </p>
    </div>

    <div class="fr-col-md-6">
      <ul class="fr-mb-8w">
        <% @departements.each do |departement| %>
          <li>
            <%= link_to(departement, departement_path(departement.number)) %>
            <span class="fr-text--sm">(<%=departement.communes_count %> communes)</span>
        <% end %>
      </ul>
    </div>
  </div>
</main>
