- content_for(:head_title) { "Administration - Modifier l'administrateur #{@admin_user}" }

%main#contenu.fr-container.fr-pt-2w.fr-pb-4w
  = render "shared/breadcrumbs", links: [["Administration", admin_path], ["Administrateurs", admin_admin_users_path]], current_page_label: "Modifier l'administrateur"

  %h1 Modifier l'administrateur

  = render "form", admin_user: @admin_user
