- content_for(:head_title) { "Administration - Nouvel administrateur" }

%main#contenu.fr-container.fr-pt-2w.fr-pb-4w
  = render "shared/breadcrumbs", links: [["Administration", admin_path], ["Administrateurs", admin_admin_users_path]], current_page_label: "Nouvel administrateur"

  %h1 Créer un nouvel administrateur

  = render "form", admin_user: @admin_user
