.co-gallery--full {
  text-align: center;
}

a.co-gallery--photo {
  overflow: hidden;
  text-decoration: none !important;
  background-image: none !important;
}

.co-gallery .co-first {
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.co-gallery .co-first>a {
  position: relative;
}

.co-gallery .co-first img {
  max-width: 500px;
  max-height: 400px;
}

.co-gallery .co-thumbs {
  display: flex;
  height: 150px;
  overflow: hidden;
  gap: 1rem;
  align-items: center;
}

.co-gallery .co-thumbs>div {
  border: 1px solid #ccc;
  height: 100%;
  width: 150px;
}

.co-gallery .co-thumbs>div:hover {
  background-color: #eee;
}

.co-gallery .co-thumbs img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.co-cursor--zoom-in {
  cursor: zoom-in;
}

.co-gallery-magnifier-icon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;
}

.co-gallery-others {
  border: 1px solid #ccc;
}

.co-gallery-others>a {
  height: 100%;
}

.co-gallery--small img {
  max-width: 100%;
}
