@page {  margin: 4rem 2rem; }

@media print {
  .co-print-hide,
  .fr-tabs::before,
  .fr-tabs__list { display: none; }
  .co-print-invisible { visibility: hidden; }
  .fr-grid-row .fr-card { height: 300px; }
  .hide.co-print-display { display: block !important; }
  .fr-p-4w.co-print-no-padding { padding: 0 !important; }
  .co-print-no-border { border: none; }
  .fr-tabs { display: block; }
  .fr-tabs__panel {
    padding: 0;
    margin: 0;
    left: 0;
  }
}

.co-break-after-page { break-after: page; }
.co-break-after-avoid { break-after: avoid; }
.co-break-inside-avoid { break-inside: avoid; }
