/*
  utilities are one-line CSS classes that are very explicit like
  `.co-font-weight--bold { font-weight: bold; }`

  on the opposite `.co-recensement-notes` would rather be a CSS component
*/

/* VISIBILITY */

.hide { display: none !important; }

.co-semi-transparent { opacity: 0.5; }

@media only screen and (max-width: 768px) {
  .co-hide--md { display: none; }
  .co-display--md.hide { display: block !important; }
}

/* OVERFLOWS */

.co-overflow-auto { overflow: auto; }
.co-overflow--hidden { overflow: hidden; }

/* WIDTHS & HEIGHTS */

.co-width--100 { width: 100%; }
.co-width-20rem { width: 20rem; }
.co-min-width-200px { min-width: 200px; }
.co--width-auto,
.fr-select.co--width-auto { width: auto; }
.co-max-width-40rem { max-width: 40rem; }
.co-max-width-90 { max-width: 90% }
.co-max-width-150px { max-width: 150px; }
.co--width-max-100 { max-width: 100%; }

.co-height--100 { height: 100%; }
.co-height--100vh { height: 100vh; }
.co-height--60vh { height: 60vh; }
.co-height-600px { height: 600px; }
.co-max-height-40vh { max-height: 40vh; }
.co-max-height-50vh { max-height: 50vh; }
.co-max-height-80px { max-height: 80px; }

.co-max-height-150px { max-height: 150px; }
.co-max-height-13rem { max-height: 13rem; }
.co-min-height-50vh { min-height: 50vh; }

/* MARGINS */

.co-margin-left-auto { margin-left: auto; }
.co-margin-auto { margin: auto }

/* COLUMNS */

@media only screen and (min-width:780px) {
  .co-columns--3 { columns: 3; }
  .co-columns--4 { columns: 4; }
}

/* POSITIONS & Z-INDEX */

.co-position-absolute { position: absolute; }
.co-position-relative { position: relative; }
.co-position-sticky { position: sticky; }

.co-display--inline { display: inline; }

.co-top-0 { top: 0; }
.co-top-2rem { top: 2rem; }
.co-bottom-0 { bottom: 0; }
.co-z-index-600 { z-index: 600; }
.co-z-index-1 { z-index: 1; }

/* IMAGES */

img.co-object-fit-contain,
.fr-card img.co-object-fit--contain,
.fr-card--horizontal .fr-card__img img.co-object-fit-contain {
  object-fit: contain;
}

/* LISTS */

.co-list-unstyled {
  list-style: none;
  padding: 0;
}

/* BORDERS */

.co-border { border: 1px solid #ccc; }
.co-border--bottom { border-bottom: 1px solid #ccc; }
.co-border--none-for-last:last-child { border: none; }
.co-border--left { border-left: 1px solid #ccc; }

/* BOX SHADOWS */

.co-box-shadow-top { box-shadow: 0 -3px 10px 0 rgba(158, 158, 158, 0.28); }
.co-box-shadow { box-shadow: 0px 0px 6px 0px rgba(158, 158, 158, 0.28); }

/* CONTAINERS */

@media (max-width: 62em) {
  .co-container--sm-px-0 {
    padding-left: 0;
    padding-right: 0;
  }
}

/* BACKGROUNDS */

.co-background--light-grey { background-color: #F9F8F6; }
html[data-fr-scheme="dark"] .co-background--light-grey { background-color: #171326; }

.co-background--teal { background-color: rgb(185, 185, 251); }
html[data-fr-scheme="dark"] .co-background--teal { background-color: rgb(19, 19, 109); }

.co-background--grey { background-color: #f6f6f6; }
html[data-fr-scheme="dark"] .co-background--grey { background-color: #280404; }

.co-background--light-teal { background-color: #F5F5FE; }
html[data-fr-scheme="dark"] .co-background--light-teal { background-color: #10106a; }

.co-background--white { background-color: #fff; }
html[data-fr-scheme="dark"] .co-background--white { background-color: #000; }

.co-background-color-inherit { background-color: inherit; }

/* FLEX */

.co-flex { display: flex; }

.co-flex--align-items-center { align-items: center; }
.co-flex--align-content-center { align-content: center; }
.co-flex--align-items-stretch { align-items: stretch; }
.co-flex--align-items-end { align-items: end; }

.co-flex--justify-content-center { justify-content: center; }
.co-flex--justify-content-end { justify-content: flex-end; }
.co-flex--space-between { justify-content: space-between; }

.co-flex--gap-05rem { gap: .5rem; }
.co-flex--gap-1rem { gap: 1rem; }
.co-flex--gap-2rem { gap: 2rem; }

.co-flex--wrap { flex-wrap: wrap; }
.co-flex--column { flex-direction: column; }
.co-flex--grow { flex-grow: 1;  }
.co-flex--shrink-0 { flex-shrink: 0; }

@media only screen and (max-width: 768px) {
  .co-flex-md-reverse-order { order: -1; }
}

/* TEXT COLORS */

.co-text--black,
.co-text--black.fr-input:disabled {
  color: rgb(58, 58, 58);
}

.co-text--blue { color: rgb(0, 0, 145) !important; }
.co-text--red { color: rgb(145, 0, 0) !important; }
.co-text--muted { color: rgb(103, 103, 103); }

html[data-fr-scheme="dark"] .co-text--blue {
  color: rgb(137, 137, 203) !important;
}

/* BACKGROUND COLORS */

:root {
  --background-color-map-bin-green-0: #F4F269;
  --background-color-map-bin-green-1: #CEE26B;
  --background-color-map-bin-green-2: #A8D26D;
  --background-color-map-bin-green-3: #82C26E;
  --background-color-map-bin-green-4: #5CB270;
}

.co-background-color-map-bin-green-0 { background-color: var(--background-color-map-bin-green-0); }
.co-background-color-map-bin-green-1 { background-color: var(--background-color-map-bin-green-1); }
.co-background-color-map-bin-green-2 { background-color: var(--background-color-map-bin-green-2); }
.co-background-color-map-bin-green-3 { background-color: var(--background-color-map-bin-green-3); }
.co-background-color-map-bin-green-4 { background-color: var(--background-color-map-bin-green-4); }

/* TEXT ALIGNS */

.co-text--center { text-align: center; }
.co-text--right { text-align: right; }

/* TEXT STYLES */

.co-text--italic { font-style: italic; }
.co-text--monospace { font-family: monospace; }
.co-text--bold { font-weight: bold; }
.co-text--weight-normal { font-weight: normal; }
.co-text--strikethrough,
.co-text--strikethrough .fr-badge {
  text-decoration: line-through;
}
.co-text--underline { text-decoration: underline; }

/* WHITE SPACES & WORD BREAKS */

.co-white-space-pre-line { white-space: pre-line; }
.co-white-space-nowrap { white-space: nowrap; }
.co-word-break-all { word-break: break-all; }

/* TEXT SIZES */

.co-text--sm { font-size: 0.8em; }

/* TEXT CONTAINERS */

.co-readable p,
.co-readable ul {
  max-width: 45rem;
}
