default: &default
  adapter: postgis
  encoding: unicode
  host: <%= ENV.fetch("DATABASE_HOST", "127.0.0.1") %>
  username: <%= ENV.fetch("DATABASE_USERNAME", "") %>
  password: <%= ENV.fetch("DATABASE_PASSWORD", "") %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 20 } %>

development:
  <<: *default
  database: collectif_objets_dev

test:
  <<: *default
  database: collectif_objets_test

production:
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 20 } %>
  url: <%= ENV["DATABASE_URL"].sub(/^postgres/, "postgis") %>
