- title = "Nouveau recenseur • Admin"
- content_for(:head_title) { title }

%main#contenu.fr-container.fr-pt-2w.fr-pb-4w
  = render "shared/breadcrumbs", links: [["Admin", admin_path], ["Recenseurs", admin_recenseurs_path]], current_page_label: "Nouveau recenseur"

  %h1
    = icon_span("account-pin-circle", fill: true)
    Nouveau recenseur

  = render "form", recenseur: @recenseur
