= turbo_stream.replace :accesses,
  partial: "admin/recenseurs/accesses",
  locals: { recenseur: @recenseur }
= turbo_stream.replace dom_id(@commune),
  partial: "admin/recenseurs_accesses/commune",
  locals: { recenseur: @recenseur, commune: @commune }
