<main class="fr-container fr-pt-2w fr-pb-4w">
  <%= render(
    "shared/breadcrumbs",
    links: [
      ["Accueil", root_path],
      ["Objets de #{@commune.nom}", commune_objets_path(@commune)]
    ],
    current_page_label: "Formulaire de recensement"
  ) %>
  <h1>Formulaire de recensement</h1>
  <div class="fr-callout">
    <p class="fr-callout__text">
      Si vous le pouvez, nous vous conseillons de vous rendre sur place avec un smartphone pour répondre aux questions et prendre les photos de chaque objet directement dans les formulaires de recensement en ligne (cette option nécessite une connexion internet dans l'édifice).<br />
      Sinon, vous pouvez imprimer la version papier des formulaires ci-dessous, les remplir sur place, et revenir sur votre ordinateur pour reporter les informations et photos dans le formulaire en ligne.
    </p>
  </div>
  <%= turbo_stream_from(@commune, "formulaire") %>
  <div id="<%= "js-formulaire-commune-#{@commune.id}" %>">
    <%= render(
      PdfEmbedComponent.new(
        @commune.formulaire,
        title: t("activerecord.attributes.commune.formulaire.title")
      )
    ) %>
  </div>
</main>
