.fr-alert.fr-alert--info.fr-mt-4w.co-readable
  %p
    Les mails que vous envoyez à l'adresse
    = link_to email_address, "mailto:#{email_address}", target: "_blank", rel: "noopener"
    apparaissent aussi ici
