.co-max-height-40vh.co-overflow-auto.co-background--light-grey.co-border.fr-p-2w#messages-list{ tabindex: "0", data: { controller: "messages", messages: { target: "list" } } }
  - if messages.empty?
    %p.co-text--italic#empty-message Aucun message pour le moment
  - else
    = render MessageComponent.with_collection(messages, viewed_by: )
