<main class="fr-container fr-py-10w fr-grid-row fr-grid-row--middle">
  <div class="fr-col-md-7">
    <h1><%= t("errors.not_found.title") %></h1>

    <p class="fr-text--lead"><%= t("errors.not_found.content") %></p>

    <p><%= t("errors.not_found.help").html_safe %></p>

    <p><a href="/" class="fr-btn">Page dʼaccueil</a></p>
  </div>
  <div class="fr-col-md-5 co-text--center">
    <img src="/dsfr/illustrations/technical-error.svg" alt="" width="200" />
  </div>
</main>
