.fr-alert.fr-alert--info.fr-mt-4w.co-readable.fr-mb-2w
  %p
    Les recenseurs ont accès à un ou plusieurs édifices, ou à des communes entières.
    %br
    Ils permettent de faciliter le recensement dans les situations suivantes :
    %ul
      %li commune qui souhaite recevoir les codes sur une autre adresse ;
      %li objets se trouvant chez un propriétaire privé ;
      %li commune avec de nombreux édifices.
