- unless edifices.length <= 3 || edifices.length <= 3 && edifices.all? { _1.objets.length <= 6 }
  %p.fr-h4 Liste des #{edifices.length} édifices

  %ul.fr-mb-8w
    - edifices.each do |edifice|
      %li
        = link_to edifice.nom.upcase_first, "##{edifice.slug}", "data-turbo": false
        · #{t("objets.count", count: edifice.objets.length)}
