<h4>Liste des <%= edifices.count %> édifices</h4>

<ul class="co-columns--3 fr-mb-8w">
  <% edifices.each do |edifice| %>
    <li>
      <%= link_to(
        "#{edifice_nom(edifice.nom)}".html_safe,
        "##{edifice.slug}"
      ) %>
      · <%= edifice.objets.length %> objets
      <%# length rather than count avoids n+1 query %>
    </li>
  <% end %>
</ul>
