<h4>Liste des <%= edifices.count %> édifices</h4>

<ul class="co-columns--3 fr-mb-8w">
  <% edifices.each do |edifice_group| %>
    <li>
      <%= link_to(
        "#{edifice_nom(edifice_group[:nom])}".html_safe,
        "##{edifice_group[:nom_parameterized]}"
      ) %>
      · <%= edifice_group[:objets].count %> objets
    </li>
  <% end %>
</ul>
