- title = "Prévisualisation des emails"
- content_for(:head_title) { "Admin | #{title}" }

%main#contenu.fr-container.fr-my-4w
  %h1= title
  .fr-grid-row
    .fr-col-md-4
      = render "mailers", mailers: @mailers
    .fr-col-md-8
      = turbo_frame_tag "mail_preview" do
        Choisissez l'email à prévisualiser.
