.admin-identity.wrapper {
  background-color: white;
  min-width: 250px;
  max-width: 400px;
  overflow: hidden;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.admin-identity.expanded *[data-display-when-expanded="true"],
.admin-identity:not(.expanded) *[data-display-when-expanded="false"] {
  display: auto;
}

.admin-identity.expanded *[data-display-when-expanded="false"],
.admin-identity:not(.expanded) *[data-display-when-expanded="true"] {
  display: none;
}

.admin-identity a {
  background-image: none;
}

.admin-identity .link {
  display: block;
  padding: .4rem;
}

.admin-identity .link:hover {
  background-color: rgba(100, 100, 200, .1);
}

.admin-identity.expanded.wrapper {
  border-color: #777;
  box-shadow: 5px 5px 5px #ddd;
}

.admin-identity .button {
  padding: .4rem;
  display: flex;
  justify-content: space-between;
}

.admin-identity:not(.expanded) .button:hover,
.admin-identity.expanded .button {
  background-color: aquamarine;
}
