.co-photo-preview-loader {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.co-photo-preview.co-loading .co-photo-preview-loader{
  display: flex;
}
