.fr-stepper.co-stepper--skip-steps .fr-stepper__steps {
  position: relative;
}

.fr-stepper.co-stepper--skip-steps .fr-stepper__steps::before {
  content: '';
  position: absolute;
  height: 100%;
  opacity: .9;
}

.fr-stepper.co-stepper--skip-steps .fr-stepper__steps::before {
  background-color: #f6f6f6;
}

/* TODO : delete this code ? */

html[data-fr-scheme="dark"] .fr-stepper.co-stepper--skip-steps .fr-stepper__steps::before {
  background-color: #280404;
}

.fr-stepper.co-stepper--skip-steps-2-3-4-out-of-6 .fr-stepper__steps::before {
  width: 50%;
  left: 16.5%;
}

.fr-stepper.co-stepper--skip-steps-3-4-out-of-6 .fr-stepper__steps::before {
  width: 34%;
  left: 33%;
}
