.co-image-blue-layer {
  background-image: url(/images/sur-place-bleu.png);
  background-size: cover;
  color: #fff;
  padding: 10rem 3rem 5rem 3rem ;
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: bold;
}

.fr-small-cards-overlapping[data-cards-count="1"] {
  min-height: 300px;
}

.fr-small-cards-overlapping[data-cards-count="2"] {
  min-height: 450px;
}

.fr-small-cards-overlapping .fr-card {
  width: 300px;
  height: 300px;
  position: absolute;
  pointer-events: none;
  overflow: hidden;
}

.fr-small-cards-overlapping .fr-card:nth-child(1) {
  top: 0;
  left: 0;
}

.fr-small-cards-overlapping .fr-card:nth-child(2) {
  top: 125px;
  left: 125px;
}
