= render layout: "conservateurs/communes/tabs",
  locals: { commune: @commune, dossier: @dossier, current_tab: :bordereau } do

  - if @dossier&.accepted?
    .fr-grid-row
      .fr-col-md-8
        %p
          Vous pouvez générer des bordereaux de récolement pour les différents édifices de la commune.
          Les champs seront préremplis avec les données de recensement que vous avez précédemment analysées et acceptées.
        %p.fr-mb-4w
          💡
          %b Seuls les objets classés apparaissent dans le bordereau de récolement
          , pas les objets inscrits.

          - @commune.edifices.order(:nom).each do |edifice|
            = turbo_stream_from edifice
            = render "conservateurs/bordereaux/edifice", edifice:, commune: @commune
  - else
    .co-readable
      %p
        Les bordereaux de récolement peuvent être édités seulement une fois que vous avez analysé les recensements et accepté le dossier.
