<% if attachment.attached? %>
  <div class="co-pdf-embed-wrapper">
    <embed
      title="<%= title %>"
      src="<%= attachment.url %>"
      type="application/pdf"
      />
  </div>
  <p class="co-text--center">
    <%= link_to(
      t(".download"),
      rails_blob_path(attachment, disposition: "attachment"),
      class: "fr-link fr-link--icon-right fr-icon-file-download-line",
      download: true
    ) %>
  </p>
<% else %>
  <div
    class="fr-alert fr-alert--warning fr-alert--sm fr-mb-4w hide"
    id="js-pdf-slow-warning"
  >
    <p>
      La génération du PDF semble prendre plus de temps que nécessaire. Si vous n'arrivez pas à générer le PDF,
      <a href="mailto:support@collectif-objets.beta.gouv.fr">
        contactez-nous
      </a> pour résoudre le problème.
    </p>
  </div>

  <div class="co-pdf-embed-wrapper">
    <div class="co-position-relative">
      <embed
        title="<%= title %>"
        src="/pdf-en-cours-de-generation.pdf"
        type="application/pdf"
        class="co-semi-transparent" />
      <div class="co-position-absolute co-top-50pct co-left-50pct">
        <span class="fr-icon-refresh-line fr-icon--lg co-rotating"></span>
      </div>
    </div>
  </div>
  <script>
    window.setTimeout(
      () => document.getElementById("js-pdf-slow-warning").classList.remove("hide"),
      2 * 60 * 1000
    )
  </script>
<% end %>
