.co-recensement-completion-summary img {
  max-width: 100px;
}

.co-recensement-completion-summary .co-recensement-photos {
  display: flex;
  max-width: 150px;
  overflow: scroll;
}

.co-recensement-completion-summary .co-recensement-photos img {
  margin-left: 5px;
}
