.conservateur-map-container {
  height: 600px;
  max-height: 80vh;
  width: 100%;
}

.conservateur-map-sidebar {
  position: absolute;
  left: 0;
  background-color: #f6f6f6;
  width: 30%;
  height: 100%;
  z-index: 10;
}

.conservateur-map-sidebar[data-collapsed="true"] {
  display: none;
}

.conservateur-map-sidebar .sidebar-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
}
