.co-mail-preview-wrapper {
  border: 1px solid #ccc;
  padding: .5rem;
}

.co-mail-preview-header th {
  text-align: right;
  color: #7f7f7f;
  padding-right: .5rem;
}

.co-mail-preview-iframe {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  min-height: 510px;
}
