.co-testimonial-wrapper {
  position: relative;
  background-color: rgb(248, 247, 251);
  border-radius: 12px;
  padding: 2rem 2rem 1rem 2rem;
  margin-bottom: 1rem;
}

html[data-fr-scheme="dark"] .co-testimonial-wrapper {
  background-color: rgb(78, 20, 251);
}

.co-testimonial-wrapper img.co-testimonial-avatar {
  position: absolute;
  top: -19px;
  left: 30px;
  width: 40px;
}
