= button_to(responsive_variant == :desktop ? "Pivoter" : "",
  attachment_path,
  method: :patch,
  params: { operation: "rotate", degrees: "90", redirect_path: },
  class: "#{button_icon_class} fr-icon-arrow-go-forward-line")
