<% if objet.current_recensement.present? %>
  <span class="fr-badge fr-badge--sm fr-badge--success">Recensé</span>
<% else %>
  <span class="fr-badge fr-badge--sm">Pas encore recensé</span>
<% end %>
