<% if objet.current_recensement.present? %>
  <span class="fr-badge fr-badge--md fr-badge--success">Recensé</span>
<% else %>
  <span class="fr-badge fr-badge--md">Pas encore recensé</span>
<% end %>
