<% content_for(:head_title) { "Nouvelle campagne" } %>

<main class="fr-container fr-pt-2w fr-pb-4w">
  <%= render(
    "shared/breadcrumbs",
    links: [
      ["Accueil", root_path],
      ["Campagnes", campaigns_path]
    ],
    current_page_label: "Nouvelle campagne"
  ) %>

  <h1>Créer une nouvelle campagne</h1>

  <%= render "form", campaign: @campaign %>
</main>
