= render layout: "objets/cards_grid_layout", locals: { count: objets.length } do
  - objets.each do |objet|
    .fr-col-md-3
      = render Communes::ObjetCardComponent.new(objet, commune:, recensement: objet.current_recensement)
