<%= render CalloutWithCtaComponent.new do |c| %>
  <% c.with_text do %>
    <p class="fr-callout__text co-text--blue">
      <%= t(".pas_de_connexion") %>
    </p>
    <p class="fr-callout__text">
      <%= t(".vous_pouvez_imprimer") %>
    </p>
  <% end %>
  <% c.with_cta do %>
    <%= link_to(
      t(".cta"),
      commune_formulaire_path,
      class: "fr-btn fr-btn--tertiary"
    ) %>
  <% end %>
<% end %>
