<%= render "edifices/list", edifices: objets_list.edifices %>
<% objets_list.edifices.each do |edifice| %>
  <div class="fr-my-4w">
    <%= render "edifices/title", edifice: %>
    <%= render "communes/objets/cards", objets: edifice.objets, commune:  %>
  </div>
<% end %>
<%= render "communes/objets/pourquoi_n_objets_callout", objets_list: @objets_list %>
