<%= render CalloutWithCtaComponent.new do |c| %>
  <% c.with_text do %>
    <h4 class="fr-callout__title">
      <%= t(".title") %>
    </h4>
    <p class="fr-callout__text">
      <%= t(".content") %>
    </p>
  <% end %>
  <% c.with_cta do %>
    <%= link_to t(".cta"), commune_completion_path(commune), class: "fr-btn" %>
  <% end %>
<% end %>


