= render CalloutWithCtaComponent.new do |c|
  - c.with_text do
    .fr-callout__title= t(".title")
    %p.fr-callout__text= t(".content")
  - c.with_cta do
    - completion_path = current_recenseur ? recenseurs_commune_completion_path(commune) : commune_completion_path(commune)
    = link_to t(".cta"), completion_path, class: "fr-btn"
