<div class="fr-container fr-grid-row fr-grid-row--center">
  <div class="fr-col-md-8">
    <h1>
      <%= t("conservateurs.communes.index.title", departement: @departement) %>
    </h1>
    <%= render Conservateurs::CommunesSearchComponent.new(communes_search: @communes_search) %>
  </div>
</div>
