- title = "Ajouter un usager"

- content_for(:head_title) { "Admin - #{title}" }

.fr-container.fr-pt-2w.fr-pb-4w
  = render "shared/breadcrumbs", links: [["Admin", admin_path], ["Communes", admin_communes_path], [@user.commune.nom, admin_commune_path(@user.commune)]], current_page_label: title

  %h2 Admin - #{title}

  .fr-grid-row
    .fr-col-md-8
      = render "form", user: @user