= button_tag(responsive_variant == :desktop ? "Ajouter" : "",
  type: "button",
  class: "#{button_icon_class} fr-icon-add-circle-line action",
  data: { fr_opened: false },
  "aria-controls": "galerie--actions--upload--modal-confirmation-ajout")
