%main#contenu.fr-container.fr-pb-16w.fr-pt-2w
  = render "shared/breadcrumbs", links: [["Accueil", root_path]], current_page_label: "Fiches conseils"
  %h1 Fiches conseils des conservateurs
  %ul
    - @fiches.each do |fiche|
      %li
        = link_to fiche.title, fiche_path(fiche.id)
