= button_tag(responsive_variant == :desktop ? "Supprimer" : "",
  type: "button",
  class: "#{button_icon_class} fr-icon-delete-line action",
  data: { fr_opened: false },
  "aria-controls": "confirmation-suppression")
