- content_for(:current_layout) { "commune" }
- content_for(:below_header) do
  - if current_user != true_user
    .fr-container
      .fr-alert.fr-alert--warning
        .co-flex.co-flex--space-between.co-flex--align-items-center
          %div Vous incarnez l'usager #{current_user}
          %div
            = link_to admin_stop_impersonating_user_path, class: "fr-btn fr-btn--secondary fr-btn--icon-right fr-icon-logout-box-r-line", "data-turbo-method": "POST" do
              Arrêter

- content_for(:content) do
  = yield
= render template: "layouts/application"
