<!DOCTYPE html>
<html lang="fr" data-fr-scheme="light">
  <head>
    <title>Collectif Objets Preview</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="/dsfr_1_5_1/dsfr/dsfr.min.css">
    <link rel="stylesheet" href="/dsfr_1_5_1/utility/utility.min.css">
  </head>
  <body>
    <%= yield %>
    <script type="module" src="/dsfr_1_5_1/dsfr/dsfr.module.min.js"></script>
    <script type="text/javascript" nomodule src="/dsfr_1_5_1/dsfr/dsfr.nomodule.min.js"></script>
  </body>
</html>
