- content_for(:current_layout) { "demo" }
- unless Rails.env.test?
  - content_for(:below_header) do
    .fr-container
      .fr-alert.fr-alert--warning
        .co-flex.co-flex--space-between.co-flex--align-items-center
          %div Vous parcourez une page de démo, les liens, les boutons et les formulaires ne fonctionneront pas
          %div
            = link_to "Revenir au plan du site", plan_path, class: "fr-btn fr-btn--tertiary fr-mr-2w"

- content_for(:content) do
  = yield
= render template: "layouts/application"
