= render layout: "conservateurs/communes/tabs",
  locals: { commune: @commune, dossier: @dossier, current_tab_title: "Analyse" } do

  %h2 Renvoyer le dossier de recensement de #{@commune}

  .fr-grid-row
    .fr-col-md-8
      .fr-callout.fr-icon-information-line
        %p.fr-callout__text
          :markdown
            Une fois le dossier renvoyé, la commune pourra modifier ses recensements : par exemple rajouter des photos ou déclarer des objets retrouvés.
            En contrepartie, le dossier sera bloqué pour vous : **vous ne pourrez plus analyser les recensements déjà soumis**.
            Il faudra alors attendre que la commune vous retourne le dossier une nouvelle fois pour l'analyser.

      - if @dossier.analyse_overrides?
        .fr-callout.fr-icon-information-line
          %p.fr-callout__text
            Vous avez modifié des informations de recensement renseignées par la commune sur
            - if @dossier.analyse_overrides_count == 1
              1 objet.
            - else
              #{@dossier.analyse_overrides_count} objets.

            :markdown
              Il s'agit d'états sanitaires ou d'évaluations de sécurité que vous avez corrigées.
              **La commune ne pourra plus modifier ces champs**, votre évaluation prime.

              Si vous souhaitez rendre la main à la commune, vous pouvez retirer vos modifications sur ces recensements.

      = render "form", dossier: @dossier
